:root {
    --white: white;
    --black400: #3e3e4bdf;
    --textColor: #1c1c1c;
    --black200: rgba(28, 28, 28, 0.9);
    --black700: #d4d4d4;
    --background: #f1f1f1;

    /* BLUE */
    --blue400: #368fb7;
    --blue800: #6bc6f168;
    /* RED */

    --red500: #e53042;
    --red400: #e5304211;

    /* GRAY */

    --gray200: #3e3e3e;
}